// index.scss
// @import '../../variable.scss'
.header {
    color: $theme-color;
    text-decoration: dashed;
    background: url('@assets/imgs/background.jpg');
}
.x {
    color: $theme-color;
    .xc{
        color:blue;
    }

}
#p{
    color:yellow;
}